body {
    background-color: #212133;

    font-family: Arial, Helvetica, sans-serif;
}

.column {
    float: left;
    width: 17%;
  }
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/*
#rank1 {
    background-color: #aa4444;
}

#rank2 {
    background-color: #44aa44;
}

#rank3 {
    background-color: #44aaaa;
}

#rank4 {
    background-color: #aa44aa;
}

#rank5 {
    background-color: #aaaa44;
}*/

#timeline {
    background-color: #5555aa;
}

.node {
    background-color: #2d2d46;
    /* background-color: #b0e3f0; */
    border-color:#9398df;
    border-width:2px;
    border-style: solid;
    border-radius: 5px;
    min-width: 50px;
    max-width: 100px;
    width:min-content;
    height:50px;
    /* min-height: 50px; 
    overflow:hidden; */
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 5px;
}

.dataNode {
    border-style: double !important;
    border-width: 5px !important;
}

.node a:link {
    color: #aaaaff;
}

.node a:visited {
    color: #aa5a99;
}

.spacer {
    visibility: hidden;
}

.povList, .guestList {
    margin-top:10px;
    padding: 2px;
    float:left;
    /* background-color: #232341; */
}

.povSprite {
    margin:2px;
    float:left;

    -webkit-filter: drop-shadow(1px 1px 0 yellow)
    drop-shadow(-1px -1px 0 yellow);
    filter: drop-shadow(1px 1px 0 yellow) 
    drop-shadow(-1px -1px 0 yellow);
}

.guestSprite {
    margin:2px;
    float:left;

    -webkit-filter: drop-shadow(1px 1px 0 rgb(110, 110, 255))
    drop-shadow(-1px -1px 0 rgb(110, 110, 255));
    filter: drop-shadow(1px 1px 0 rgb(110, 110, 255)) 
    drop-shadow(-1px -1px 0 rgb(110, 110, 255));
}

/***** Tooltip CSS copied and modified from W3Schools *****/
  .dataNode {
    /* Have no idea why this is required for the tooltip to work. -- Miguel */
    position: relative;
  }

  /* Tooltip text */
  .dataNode .dataPanel {
    visibility: hidden;
    width: 250px !important; 
    width:min-content;
    background-color: #f1fcff;
    color: #262236;
    text-align: center;
    padding: 15px 15px;

    border-color: #aaaaff;
    border-style: solid;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: -125%;
    left: 250%;
    margin-left: -60px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .dataNode:hover .dataPanel {
    visibility: visible;
    opacity: 1;
  } 
/***** End of Tooltip CSS copied and modified from W3Schools *****/
